.rightNavContainer {
  margin: 10px;
}

.rightNavContainer > button {
  text-decoration: none;
  justify-content: space-between;
  margin-right: 20px;
  color: black;
  background: none;
  border: none;
  font-size: 14px;
}

.rightNavContainer > button:hover {
  cursor: pointer;
  color: rgb(1, 130, 148);
}
