.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-top: 14%;
  padding: 0 16px;
}

.container h1 {
  font-size: 48px;
  font-weight: 800;
  /* border: 1px solid blue; */
}

.container p {
  font-size: 16px;
  margin-top: 24px;
  line-height: 24px;
}

.upperContentContainer {
  /* border: 1px solid blue; */
  display: flex;
}

@media screen and (max-width: 1200px) {
  .upperContentContainer {
    flex-direction: column;
    gap: 40px;
  }

  .container {
    margin-top: 8%;
  }
}
