.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-top: 200px;
  padding: 0 16px;
}

.container h1 {
  font-size: 48px;
  font-weight: 800;
}

.container p {
  font-size: 16px;
  margin-top: 24px;
}

.upperContentContainer {
  /* border: 1px solid blue; */
  display: flex;
}
