.submitButton,
.disabledButton {
  width: 100%;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  height: 40px;
  padding: 8px 14px;
  font-size: 20px;
}

.submitButton {
  color: white;
  background-color: #f65858;
}

.submitButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.disabledButton {
  color: black;
  background-color: #8b8c8c;
}
