.navigationBar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* border: 1px solid blue; */
  position: absolute;
  width: 100%;
}

.navigationBar > * {
  text-decoration: none;
  margin-right: 12px;
}
