.navBar {
  /* border: 1px solid blue; */
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 8px 20px;
  width: 100%;
}

.homepageNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 8px 20px;
  width: 100%;
  z-index: 10000;
  border-bottom: 1px solid #e6e6e6;
}

.navigationBar > * {
  text-decoration: none;
  margin-right: 12px;
}
