.eventContainer {
  /* border: 1px solid red; */
  display: flex;
  border-top: 1px solid grey;
  /* margin: 10px; */
  padding: 20px 10px;
  gap: 20px;
  max-width: 800px;
}

.eventContainer:first-child {
  border-top: none;
}

.imgContainer {
  /* border: 1px solid red; */
  border-radius: 10px;
  aspect-ratio: 4/3;
  flex: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.image {
  width: auto;
  height: 100%;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.detailContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
}

.details > p,
.details > div {
  margin-bottom: 18px;
  line-height: 18px;
}

.eventName {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.eventCity {
  font-size: 14px;
  text-transform: uppercase;
  color: #877456;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.cardFooter {
  font-size: 14px;
  color: #757575;
  margin-top: 24px;
}
