/* .eventFormContainer {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.eventForm {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eventFormField {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
}

.eventFormField input,
.eventFormField textarea {
  margin: 10px 0;
}

.formName h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 10px 0;
}

.formName p {
  font-size: 24px;
  margin: 10px 0;
}

.description {
  height: 250px;
  padding: 12px;
  border-radius: 2px;
  font-size: 16px;
  resize: none;
}

.validationError {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}
