.footerContainer {
  position: relative;
  align-self: flex-end;
  width: 100%;
  /* margin-top: auto; */
  /* display: flex;
  flex-direction: column; */
  background-color: #212121;
  padding: 20px 10%;
  color: white;
}

.heading {
  padding-bottom: 16px;
  border-bottom: 1px solid #757575;
  font-weight: 600;
}

.heading > a {
  background: none;
  color: white;
  border: 2px white solid;
  border-radius: 4px;
  padding: 6px 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  margin: 0 6px;
  text-decoration: none;
}

.sectionContainer {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.linkContainer {
  width: 100%;
}

.linkContainer > ul {
  display: flex;
  flex-direction: column;
}

.links > * {
  margin: 6px 0;
}

.links > a {
  text-decoration: none;
  color: #c5c4c4;
  font-size: 12px;
}

.socialMedia {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
}

.socialMediaLinks > a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.termsPolicies {
  /* border: 1px solid red; */
  margin: 10px 0;
}

.termsPoliciesLinks {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font-size: 14px;
}

.termsPoliciesLinks > a {
  text-decoration: none;
  color: white;
}

.links > a:hover {
  opacity: 0.6;
}

.heading,
.linkContainer,
.links {
  font-family: sans-serif;
}
