.inactive {
  color: black;
  text-decoration: none;
  padding: 0 20px;
  font-size: 28px;
}

.active {
  color: #f6405f;
  text-decoration: none;
  padding: 0 20px;
  font-size: 28px;
  text-decoration: underline;
}
