.inactive {
  color: black;
  text-decoration: none;
  padding: 0 20px;
  font-size: 28px;
}

.active {
  color: #f6405f;
  text-decoration: none;
  padding: 0 20px;
  font-size: 28px;
  text-decoration: underline;
}

.discoverContent {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* border: 1px solid red; */
}

.discoverNav {
  margin-top: 2%;
}
