.groupsContainer {
  /* border: 1px solid red; */
  max-width: 60%;
}

.pages {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin: 48px 0;
}

.pages > button {
  /* border: 1px solid red; */
  border: none;
  text-decoration: none;
  background-color: transparent;
  margin: 8px;
  padding: 12px 18px;
  font-size: 18px;
}

.pages > button:hover {
  cursor: pointer;
}

.active {
  color: red;
}
