.groupContainer {
  display: flex;
  border-top: 1px solid grey;
  margin: 10px;
  padding: 20px 10px;
  gap: 20px;
}

.image {
  border-radius: 10px;
  width: 300px;
  height: 200px;
  min-width: 100%;
  min-height: 100%;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.groupName {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.groupCity {
  font-size: 14px;
  text-transform: uppercase;
  color: #877456;
}

.about,
.cardFooter {
  font-size: 14px;
  color: #757575;
  margin-top: 24px;
}

@media screen and (max-width: 1000px) {
  .image {
    display: none;
  }
}
